{% block html_head_container %} {% include 'html-header.twig' %} {% block head %} {% endblock %}
</head>
{% endblock %}

<body class="{{body_class}}" data-template="base.twig">
    <a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
    <header class="header">
        {% block header %}
        <div class="wrapper">
            <h1 class="hdr-logo mb-3 p-2" role="banner">
                <a class="hdr-logo-link mx-2" href="{{site.url}}" rel="home">𝓔𝓬𝓸𝓵𝓲𝓯𝓮</a>
            </h1>
            <nav id="nav-main" class="nav-main" role="navigation">

                <div> {% include "menu.twig" with {'items': menu.get_items} %} </div>
            </nav>
            <!-- #nav -->
        </div>
        {% endblock %}
    </header>

    <section id="content" role="main" class="content-wrapper container mt-5">
        {% if title %}
        <h1>{{title}}</h1>{% endif %}
        <div class="wrapper {{sidebar_class}}">
            {% block content %} Sorry, no content {% endblock %}
        </div>
        {% if sidebar %}
        <aside class="layout-sidebar">
            {{sidebar}}
        </aside>
        {% endif %}
    </section>

    {% block footer %}
    <footer id="footer">
        {% include 'footer.twig' %}
    </footer>
    {{ function('wp_footer') }} {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>