{% if menu %}
<ul class="d-flex flex-row justify-content-center">
    {% for item in items %}
    <li class="col-md-3 col-3 col-sm-3 col-lg-3 {{ item.classes | join(' ') }}">

        <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a> {% include "menu.twig" with {'items': item.children} %}
    </li>
    {% endfor %}

</ul>
{% endif %}