/*!
Theme Name: Ecolife
Author: Melissa Galvan
Author URI: http://melinweb.fr
Description: E-commerce
Version: 1.0.0
*/

ul {
    list-style: none;
    padding: 0
}

body a,
a:hover {
    text-decoration: none;
    color: #000;
}

header {
    border-bottom: 1px solid #9173473f
}

#content {
    height: 100vh
}

#content select {
    margin-top: 20px;
    margin-left: auto;
    display: block;
    background-color: transparent;
    border: none
}

.menu {
    display: flex;
    justify-content: center
}